# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# ML model
credit_risk_model.pkl
model.ipynb

# Datasets
*.csv
*.xls
*.xlsx

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
